@import "../../variables/variables";


.item-details-list__button {
  margin: 10px;
  width: 100px;
  height: 45px;
  font-family: $main-font;
  font-size: 15px;
  font-weight: bold;
}

.unique-items-block  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unique-details-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;

  .unique-details-list__header {
    font-family: $main-font;
    font-size: 25px;
    font-weight: bold;
    margin: 8px;
  }
  .unique-details-list__paragraph {
    font-family: $main-font;
    font-size: 20px;
    margin: 10px;
  }
}

.unique-details-list__delete-button {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
