@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

$header-font: "Cinzel", serif;
$main-font: "Cardo", serif;
$header-font-color: rgba(247, 195, 126, 0.8);
$header-font-stroke: 1px rgba(255, 255, 255, 0.1);
