@import "../../variables/variables";


.back-block {
  position: relative;
  .back-block__button {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: $main-font;
    font-weight: bold;
    font-size: 15px;
  }
}
