@import "../src/variables/variables";

* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("https://wallpaperaccess.com/full/2796640.jpg");
  height: fit-content;
}

// CATEGORY MAIN

.category-main-block {
  height: fit-content;
  min-height: 1000px;
}

.main-items-list {
  padding: 45px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  grid-template-rows: auto auto;
}

.main-item {
  border: 1px solid rgba(5, 5, 5, 0.342);
  word-wrap: break-word;
  background-color: rgba(185, 185, 185, 0.342);
  font-family: $main-font;
  font-weight: bold;
}

.main-item__item-name {
  font-size: 25px;
}

.main-item__item-details {
  font-size: 18px;
}
.main-item__item-name,
.main-item__item-details,
.main-item__item-link {
  padding: 5px;
}

.main-item__item-link {
  font-size: 15px;
  text-decoration: none;
}

// CATEGORY DETAILS

.item-details-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}

.item-details-list__name {
  font-family: $main-font;
  font-size: 30px;
  font-weight: bold;
  margin: 8px;
}
.item-details-list__paragraph {
  font-family: $main-font;
  font-size: 25px;
  font-weight: bold;
  margin: 8px;
}

.another-data-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.another-data-list__header {
  font-family: $main-font;
  font-size: 25px;
  font-weight: bold;
  margin: 8px;
}
.another-data-list__paragraph {
  font-family: $main-font;
  font-size: 20px;
  margin: 10px;
}



.cost-block {
  display: flex;
  flex-direction: column;
  .cost-block__list {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .cost-block__paragraph {
      font-size: 30px;
       margin-left: 10px;
    }
  }
}



